# Unison
.unison*
test-output
transcript-*
scratch.u
unisonLocal.zip

# Stack
.stack-work

# Cabal
dist-newstyle

# Updo
.updo
updo

# GHC
*.hie
*.prof
/.direnv/
/.envrc

# Mac developers
**/.DS_Store

/libb2.dylib
